@import "../../scss/vars";

.number {
  font-weight: bold;
  text-shadow: 0 0 0.5em rgba(white, 0.1);
  white-space: nowrap;

  span {
    margin-left: 5px;

    &.isSuperScript {
      font-size: 0.6em;
      vertical-align: super;
    }
  }
}

.isPositive {
  color: $green;
  text-shadow: 0 0 0.5em rgba($green, 0.1);
}

.isNegative {
  color: $red;
  text-shadow: 0 0 0.5em rgba($red, 0.1);
}
