$green: #69e697;
$red: #ff6874;
$dark-gray: #38384c;
$border-color: #42435f;

$font-size-base: 16px;

$ease-out: cubic-bezier(0.25, 0.12, 0.22, 1);

$breakpoint-sm: 320px;
$breakpoint-md: 480px;
$breakpoint-lg: 768px;
