@import "../../scss/vars";
@import "../../scss/mixins";

.menu {
  position: fixed;
  width: 70%;
  height: 100%;
  top: 0;
  right: -70%;
  padding-top: 20px;
  padding-right: 20px;
  transition: transform 0.4s $ease-out;

  &.isVisible {
    transform: translateX(-100%);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
  }

  li {
    margin-bottom: 10px;
  }

  button,
  a {
    @include button($border-color);
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    text-decoration: none;
  }
}
