@import "../../scss/vars";
@import "../../scss/mixins";

.modal {
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: opacity 0.5s, transform 0s 0.5s, visibility 0s 0.5s;

  &.isVisible {
    transition-delay: 0s;
    transform: none;
    opacity: 1;
    visibility: visible;
  }

  &.fitsOnScreen {
    display: flex;
    align-items: center;
  }
}

.modalBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.6);
}

.modalContent {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  background-color: $dark-gray;
  overflow: hidden;
  transform: scale(0.9);
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.3, 0.75, 0.3, 1);
  overflow: hidden;
  color: white;
  border-radius: 5px;

  .modal.isVisible & {
    transform: none;
  }
}

.modalClose {
  appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
}
