@import "../../scss/vars";

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  button {
    position: relative;
    appearance: none;
    background-color: transparent;
    border: 2px solid $medium-gray;
    height: 38px;
    width: 38px;
    padding: 0;
    border-radius: 100%;
    color: $medium-gray;
  }
}

.icon {
  position: absolute;
  height: 24px;
  width: 24px;
  top: 5px;
  left: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.menuButton {
  .icon {
    opacity: 0;
    transform: scale(0.5);
    transition: transform 0.3s 0.3s, opacity 0.3s 0.3s;

    &.isActive {
      opacity: 1;
      transform: none;
    }
  }
}

.refreshButton {
  .icon {
    left: 3px;

    svg {
      width: 21px;
    }
  }
}
