@import "../../scss/vars";
@import "../../scss/mixins";

.stock {
  user-select: none;
  cursor: default;

  tr {
    transition: transform 0.3s $ease-out;
  }

  td {
    position: relative;
  }
}

.hasHover {
  tr {
    transform: translateX(-90px);
  }

  .hoverTarget {
    transform: translateX(90px);
  }

  .deleteButton,
  .realizeButton {
    transform: none;
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }

  .number div:not(.hoverTarget),
  .percentage,
  .ticker {
    opacity: 0.4;
  }
}

.hoverTarget {
  position: absolute;
  z-index: 2;
  height: 100%;
  top: 0;
  right: 0;
  width: 80px;
  transition: transform 0.3s $ease-out;
  padding-top: 15px;
  box-sizing: border-box;
}

.deleteButton {
  @include button(transparent);
  color: $red;
  margin-left: 10px;
}

.realizeButton {
  @include button(transparent);
  color: $green;
}

.deleteButton,
.realizeButton {
  height: 24px;
  width: 24px;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.7);
  transition: transform 0.3s $ease-out, opacity 0.3s, visibility 0s 0.3s;
}

.firstRow {
  td {
    padding-top: 15px;
  }
}

.lastRow {
  td {
    padding-bottom: 20px;
    border-bottom: 1px solid $border-color;
  }
}

.ticker {
  @include font-size-lg;
  font-weight: bold;
  transition: opacity 0.3s;
}

.longName {
  color: $medium-gray;
}

.number {
  @include font-size-lg;
  text-align: right;
  width: 20%;

  div:not(.hoverTarget) {
    transition: opacity 0.3s;
  }
}

.isPositive {
  color: $green;
}

.isNegative {
  color: $red;
}

.percentage {
  font-weight: normal;
  padding-right: 10px;
  text-align: right;
  transition: opacity 0.3s;
}

.moreStuff {
  color: $medium-gray;
  text-align: right;

  span {
    padding-left: 20px;
    white-space: nowrap;
  }
}
