@import "../../scss/vars";
@import "../../scss/mixins";

.stock {
  position: relative;
  user-select: none;
  cursor: default;
  will-change: transform;
  -webkit-tap-highlight-color: transparent;
  background-color: $dark-gray;
  padding: 15px 0;
  border-bottom: 1px solid $border-color;

  &.isSorting {
    .row {
      transform: scale(0.9);
    }
  }
}

.isSliding {
  .deleteButton,
  .realizeButton {
    visibility: visible;
    transition-delay: 0s;
  }

  .row {
    opacity: 0.4;
  }
}

.row {
  display: flex;
  align-items: baseline;
  transform-origin: 100% 100%;
  transition: transform 0.3s $ease-out, opacity 0.4s;

  + .row {
    transform-origin: 100% 0;
  }
}

.buttonContainer {
  position: absolute;
  z-index: 2;
  height: 100%;
  top: 0;
  right: 0;
  width: 80px;
  padding-top: 15px;
  text-align: right;
  box-sizing: border-box;
  will-change: transform;
}

.deleteButton {
  @include button(transparent);
  color: $red;
  margin-left: 10px;
}

.realizeButton {
  @include button(transparent);
  color: $green;
}

.deleteButton,
.realizeButton {
  height: 24px;
  width: 24px;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s;
}

.ticker {
  @include font-size-lg;
  font-weight: bold;
  transition: opacity 0.3s;
}

.warning {
  color: $yellow;
  margin-left: 10px;
  vertical-align: middle;
  line-height: 1;

  svg {
    width: 18px;
  }
}

.longName {
  color: $medium-gray;
}

.number {
  @include font-size-lg;
  min-width: 4.2em;
  text-align: right;
  transition: opacity 0.3s;
}

.percentage {
  font-weight: normal;
  padding-right: 10px;
  margin-left: auto;
}

.moreStuff {
  color: $medium-gray;
  margin-left: auto;

  span:not(:first-child) {
    padding-left: 20px;
    white-space: nowrap;
  }
}

.sortingHandle {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $medium-gray;
  opacity: 0;
  transition: transform 0.3s $ease-out, opacity 0.3s;
  transform: scale(0.1);

  .isSorting & {
    opacity: 1;
    transform: none;
  }
}
