@import "../../scss/mixins";
@import "../../scss/vars";

.moneys {
  display: flex;
}

.graphBeforeEnter,
.graphLeaving {
  transform: scale(0.9);
  opacity: 0;
}

.graphEntering,
.graphBeforeLeave {
  transition: transform 1s $ease-out, opacity 1s $ease-out;
}

.graphEntering {
  transform: none;
  opacity: 1;
}

.text {
  text-align: right;
  margin-bottom: 40px;
  margin-left: auto;
  user-select: none;

  h1 {
    @include font-size-lg;
    font-weight: normal;
    margin: 0;
  }

  p {
    margin: 3px 0 0;
    color: $medium-gray;
    white-space: nowrap;
  }
}

.number {
  position: relative;
  @include fluid-type($breakpoint-sm, $breakpoint-lg, 50px, 80px);
  line-height: 1;
}

.numberSpacer {
  opacity: 0;
}

.visibleNumber {
  position: absolute;
  top: 0;
  right: 0;
  font-feature-settings: "tnum";
}
